* {
  padding: 0;
  margin: 0;
}

#photoSliderContainer {
  width: 300px;
  margin: auto;
  overflow: hidden;
}

#photoSlider {
  display: flex;
}

#prevImage,
#nextImage {
  width: auto;
  font-size: 200%;
}
